@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
html{
    font-size: 16px;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.265);
    padding: 0 10px;
    z-index: 9999;
}
.header-left-content--logo{
    height: 100%;
    max-height: 30px;
    min-width: 147px;
}
.header-left-content--logo img{
    height: 100%;
    width: 100%;
}
.header-left-content img{
    max-width: 880px;
}
header .header-left-content{
    display: flex;
    flex-direction: row;
    height: 88px;
    padding: 30px;
}
header .header-left-content nav{
display: flex;
align-items: center;
gap: 32px;
padding: 0px 40px;
text-decoration: none;
width: 100%;
}
header .header-left-content nav a{
    color: #1D1E20ff;
    text-decoration: none;
}
.btn-menu{
    background-color: transparent;
    border: none;
    font-size: 24px;
}
.text-decoration{
    text-decoration: none;
}
header .header-right-content{
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 32px;
}
.btn-menu{
    display: none;
}
.btn-language{
    font-weight: 700;
    color: #1D1E20ff;
    border: 0;
    background-color: transparent;
    font-size: 16px;
    max-height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-right-content a{
    padding: 12px 16px;
    border: 2px solid #1D1E20ff;
    border-radius: 8px;
    text-decoration: none;
    color: #1D1E20ff;
    font-weight: 700;
}
.header-right-content img{
    width: 32px;
    height: 20px;
}
/* HEADER */

/* ESTILOS GENERALES */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.font--title{
    font-size: 36px;
    color: #2F1C6Aff;
}
.font--subtitle{
    font-size: 20px;
    color: #2F1C6Aff;
}

.font--paragraph{
    font-size: 16px;
    color: #2F1C6Aff;
}
.font-size-exception--big{
    font-size: 48px;
    color: #2F1C6Aff;
}
.font-size-small{
    font-size: 14px;
}
.font--weight-200{
    font-weight: 700;
}
.font--weight-100{
    font-weight: 400;
}
.special-font--color{
    color: #673de6;
}
.bi-chevron-down{
    fill: black;
}
/* ESTILOS GENERALES */

/* hero SECTION */
.hero-content{
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 36px 0px;
}
.hero-container--group{
    display: flex;
    align-items: center;
    width: auto;
    margin: 0px auto;
    gap: auto;
}
.hero-button-gap{
    display: flex;
    gap: 12px;
}
.hero-button-wrapper{
    color: white;
    width: 190px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    background-color: #673de6;
    border-radius: 8px;
    padding: 12px 48px;
    font-weight: bold;
}
.hero-button-timer{
    color: #2F1C6Aff;
    min-width: 160px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    background-color: #E2DBFC;
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: bold;
}
.features-description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.features-description h2{
    max-width: 40ch;
    line-height: 40px;
}
.hero-left-content{
    width: 463px;
    max-height: 442px;
    column-gap: 40px;
    padding: 0 30px;
}
.description-list{
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.description-list span{
    color: #1D1E20ff;
    display: flex;
    align-items: center;
    gap: 8px;
}
.bi-question-circle{
    font-size: 14px;
}
.bi-check2{
    color: #00b090;
    font-size: 20px;
}
.hero-right-content{
    display: flex;
}
.h-image{
    width: 50vw;
    height: auto;
    position: static;
}
.h-image img{
    width: 100%;
    height: 100%;
}

.button-wrapper{
    color: white;
    width: 168px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    background-color: #673de6;
    border-radius: 8px;
    padding: 12px 48px;
    font-weight: bold;
}
.features-promo{
    margin-bottom: 24px;
}
.features-promo-description{
    margin-top: 20px;
}
/* MIGRACIÓN DE WEB SIMPLIFICADA */
.section-general-content{
    background-color: #1F1346;
    color: white;
    width: 100%;
    height: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-title-content{
    align-items: center;
    padding-top: 0px;
    margin: 0 auto;
    max-width: 1128px;
    height: 136px;
    padding: 0 40px;

}
.section-title-content h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    max-width: 463px;
    margin: 0 auto;
}
.section-title-content p{
    width: auto;
    height: auto;
    margin: 24px auto 0 auto;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}
.section-features{
    max-width: 1208px;
    padding: 0 40px;
    margin-bottom: 26px; 
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 90px;
}
.section-containers{
    background-color: #2F1C6A;
    max-width: 360px;
    min-height: 256px;
    max-height: 356px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
    padding: 32px;
    row-gap: 16px;
    border-radius: 16px;
}
.section-containers p{
    margin: 0;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
}
.section-containers h3{
    font-size: 18px;
    font-weight: 700;
}
.section-features--item{
    height: 40px;
    width: 40px;
    background-color: #673DE6;
    border-radius: 6px;
}
.bi-lightning-charge{
    width: 20px;
    height: 20px;
}
.bi-list-ul{
    width: 20px;
    height: 20px;
}
.bi-check-circle{
    width: 20px;
    height: 20px;
    font-weight: 700;
}
/* hero SECTION */

/* FOOTER */
footer{
    padding-top: 40px;
    background-color: #F4F5FF;
}
footer .footer-content{
    background-color: transparent;
    max-width: 1208px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 40px;
    gap: 16px;
}
.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links{
    display: flex;
    gap: 16px;
}

.social-media-icon{
    width: 32px;
    height: 32px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F1C6A;
    color: white;
}
.payment-methods{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}
.payment-methods img{
    max-width: 58px;
    max-height: 38px;
    border-radius: 6px;
    border: 1px solid #d5dfff;
}
.brands{
    display: flex;
    align-items: center;
    gap: 8px;
}
.payment-methods a{
    text-decoration: none;
    font-weight: 700;
    color: #673DE6;
}

.payment-methods span{
    color: #1F1346;

}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d5dfff;
    padding: 24px 0;
}

    @media screen and (max-width: 1352px) {
        .h-image img{
        max-width: 616px ; 
        }
    }
    @media screen and (max-width: 1127px) {
    header .header-left-content nav{
        display: none;
    }
    header .header-right-content{
        display: none;
    }
    .btn-menu{
        display: flex;
    }
    }
    @media screen and (max-width: 1056px) {
        footer .footer-content{
            width: 100%;
        }
        .payment-methods{
            display: flex;
            flex-direction: column-reverse;
            align-items: start;
        }

    }
    @media screen and (max-width: 1024px)
    {
        .hero-container--group{
            flex-direction: column;
            align-items: start;
        }

        .hero-left-content h2{
            font-size: 28px;
            width: 580px;
            margin-bottom: 8px;
        }
        .hero-left-content p{
            font-size: 18px;
            line-height: 24px;
            
        }
        .font-size-exception--big
        {
            font-size: 40px;
        }
        .section-title-content
        {
            max-width: 688px;
            margin-bottom: 20px;
            text-align: center;
        }
        .section-title-content h2
        {
            font-size: 28px;
        }

        .section-features
        {
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
        }
        .section-containers
        {
            width: 100%;
            max-width: 688px;
            height: auto;
            flex: wrap;
        }
        .footer-copyright
        {
            gap: 16px;
            flex-direction: column;
            align-items: start;
            text-align: center;
            margin-bottom: 8px;
        }
    }
    @media screen and (max-width: 768px) {
        .hero-container--group
        {
            align-content: center;
        }
        .h-image img{
        max-width: 688px;
        max-height: 450px; 
        }
        .hero-left-content h2{
        font-size: 24px;
        width: 508px;
        margin-bottom: 8px;
        }
        .hero-left-content p{
            font-size: 18px;
            line-height: 24px;
        }
        .font-size-exception--big
        {
            font-size: 36px;
        }
        .section-containers
        {
            max-width: 508px;
            max-height: 232px;
            min-height: 208px;
        }

        footer .footer-content
        {
            width: 508px;
        }
        .footer-top{
            flex-direction: column-reverse;
            align-items: start;
            gap: 36px;
            width: auto;
        }
        .footer-links{
            display:flex;
            justify-content: space-between;
            width: 100%;
        }
        .brands{
        flex-wrap: wrap;
        width: 300px;
        height: auto;
        }        
        .footer-politics{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
        gap: 5px;
        height: auto;
        width: auto;
        }
        .footer-copyright {
        text-align: start;
        margin-top: 20px;
        gap: 20px;
        }
        .payment-methods{
            margin: 0;
            height: auto;
            max-width: 300px;
        }

    }
